.jumbotron{
  padding: 0;
}

.jumbotron img{
  width: 100%;
}

.name img{
  width: 25%;
}

.contact a{
  text-decoration: none;
}

.icon{
  width: 50px;
  /* margin: 0px 30px */
}



@media all and (max-width: 1100px){
  .name img{
    width: 50%;
  }

  .icon{
    width: 10%;
  }

 }

