.jumbotron{
  padding: 0;
}

.jumbotron img{
  width: 100%;
}

.name img{
  width: 25%;
}

.icon{
  width: 5%;
}

@media all and (max-width: 1100px){
  .name img{
    width: 50%;
  }

  .icon{
    width: 10%;
  }

 }

