body{
  font-family: 'Roboto', sans-serif;
}

.jumbotron{
  padding: 0;
}

.jumbotron img{
  width: 100%;
}

.name img{
  width: 20%;
}

.contact a{
  text-decoration: none;
}

.icon{
  width: 50px;
  /* margin: 0px 30px */
}



/* set up more media queries for different viewports */
@media all and (max-width: 1000px){
  .name img{
    width: 50%;
  }

  .icon{
    width: 10%;
  }

 }

